<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>TechBlog</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.techBlog.servlets.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.techBlog.servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.techBlog.servlets.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditedUserData</servlet-name>
		<servlet-class>com.techBlog.servlets.EditedUserData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddPostServlet</servlet-name>
		<servlet-class>com.techBlog.servlets.AddPostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LikeServlet</servlet-name>
		<servlet-class>com.techBlog.servlets.LikesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>com.techBlog.servlets.CommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RepliesOnComment</servlet-name>
		<servlet-class>com.techBlog.servlets.RepliesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.techBlog.servlets.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>com.techBlog.servlets.EditServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditComment</servlet-name>
		<servlet-class>com.techBlog.servlets.EditCommentAndReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditComment</servlet-name>
		<url-pattern>/EditComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/Delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/Edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RepliesOnComment</servlet-name>
		<url-pattern>/RepliesOnComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/CommentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LikeServlet</servlet-name>
		<url-pattern>/LikesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPostServlet</servlet-name>
		<url-pattern>/AddPostServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditedUserData</servlet-name>
		<url-pattern>/EditedUserData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
</web-app>